html{
  font-family: 'Roboto', sans-serif;
}

html, body{
  padding:0px;
  margin:0px;
  min-width:320px;
}

/* header styling */

header{
  padding: 0.2em 0.5em;
}

#header-container{
  margin:auto;
}

header h1,header h2, header p{
  text-align:center;
}

nav ul{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding:0.5em 0em;
}

nav ul li {
  margin: 0em 0.5em;
  flex-grow:1;
}

nav ul li button{
  height:100%;
  width:100%;
  border:none;
}


/* project styling */

#project-container{
  padding: 1em 0em;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
}

.project-card, project-card{
  width:90%;
  margin:1.5em;
}

.project-card.placeholder{
  padding:1em 0em 0em 0em;
  position:relative;
}

.placeholder .loading-border{
  margin:auto;

  height:130px;
  width:130px;
  
  font-size:0.7em;
  font-weight: bold;
}

.loading-text{
  margin:auto;
  text-align:center;
  position:relative;
  top:-75px;

  font-size: 0.7em;
}

my-modal{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  width:90%;
  padding: 1em 5%;
  
  z-index: 1;
}

my-modal h1{
  width:100%;  
}

